@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-accent {
    color: theme('colors.accent.DEFAULT');
  }
    .bg-primary {
      background-color: theme('colors.primary');
    }
    .font-primary {
      font-family: theme('fontFamily.primary');
    }
}


@layer base {
  body {
    @apply font-primary bg-primary  text-accent leading-loose;
  }
}
